body {
  margin: 0;
  padding: 0;
}

#appname {
  font-family: Roboto, helvetica, arial, sans-serif;
  color: #0099FF;
}

#header {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: white;
  color: #0099FF;
  padding-bottom: 20px;
  padding-top: 20px;
}

#header h1 {
  font-weight: 200;
  font-size: 30px;
  line-height: 1em;
  margin-bottom: 0;
}

#section1, #section2 {
  box-sizing: border-box;
  padding: 20px;
}

#section1, #section2 {
  background-color: white;
  font-family: Roboto, helvetica, arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
}

#section1 #signin, #section1 #guestForm {
  background-color: #f5f5f5;
  padding: 1em;
}

#section1 #signin label, #section1 #guestForm label {
  font-size: 1.2em;
  font-weight: 200;
  padding-top: 12px;
  display: block;
}

#section1 #signin input, #section1 #guestForm input {
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  box-sizing: border-box;
}

#section1 #signin input[type=submit], #section1 #guestForm input[type=submit] {
  background-color: hsl(8, 70%, 54%);
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
}

#section1 #guestForm, #section2 {
  text-align: center;
}

#section2 a {
  color: #0099FF;
  text-decoration: none;
  line-height: inherit;
  text-align: center;
}
a:hover, a:focus {
  color: #0099FF; 
}

#footer {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: #39b1a4;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 600px) {
  .container {
    margin: auto;
    max-width: 600px;
  }

  #header {
    padding: 30px 5%;
  }
}