@(username: String)

@if(username != "") {
<!-- Dashboard -->
<div class="dashboard_wrapper">
  <div id="dashboard">
    <div class="container">
      @username
    </div>
  </div>
</div>
}

@if(username != "") {
<!-- Setting -->
<div id="setting_wrapper">
  <div id="setting">
    <div class="container">
      <!-- Edit -->
      <form method="post" id="edit" action="#">
        <input type="submit" value="@Messages("dashboard.label.edit")">
      </form>
      
      <!-- Logout -->
      <form method="post" id="logout" action="@routes.Users.logout">
        <input type="submit" value="@Messages("dashboard.label.logout")">
      </form>
    </div>
  </div>
</div>
}