@(errors: List[String])(destination: Destination)

<!-- Section title -->
<div id="section">
  <div id="container">
    <div id="title">@Messages("destination.title.add")</div>
    </div>
</div>

<!-- Section errors -->
@if(errors != List("")) { 
<div id="section">
  <div id="container">
    <div id="errors">
      @for(error <- errors) {
      @error<br>
    }
  </div>
</div>
</div>
}

<!-- Section content -->
<div id="section">
  <div id="container">
    <form method="post" id="destination" action="@routes.Destinations.create">
      <!-- User -->
      <!-- Username -->
      <input type="text" name="username" id="username" 
      placeholder="@Messages("destination.label.username")" 
      value="@destination.username" required>

      <!-- Destination -->
      <label for="destination">@Messages("submission.label.destination")</label>
      <!-- Username -->
      <input type="text" name="destinationUsername" id="destinationUsername" 
      placeholder="@Messages("destination.label.username")" 
      value="@destination.destinationUsername" required>
      
      <!-- Hostname -->
      <input type="text" name="destinationHostname" id="destinationHostname" 
      placeholder="@Messages("destination.label.hostname")" 
      value="@destination.destinationHostname" required>
      
      <!-- Password -->
      <input type="password" name="destinationPassword" id="destinationPassword" 
      placeholder="@Messages("destination.label.password")" 
      value="@destination.destinationPassword" required>
      
      <!-- Submit -->
      <input type="submit" value="@Messages("destination.label.submit")">
      
      <!-- Skip -->
      <a href="@routes.Application.submission"><input type="button" value="@Messages("destination.label.skip")"></a>
    </form>
  </div>
</div>

