@(messages: List[String])(errors: List[String])(destination: Destination)

<!-- Section title -->
<div id="section">
  <div id="container">
    <div id="title">@Messages("destination.title.add")</div>
  </div>
</div>

<!-- Section messages -->
<!-- Hide section messages if the list is empty -->
@if(messages != List("")) { 
<div id="section">
  <div id="container">
    <div id="messages">
      @for(message <- messages) {
      @message<br>
    }
  </div>
</div>
</div>
}

<!-- Section errors -->
<!-- Hide section errors if the list is empty -->
@if(errors != List("")) { 
<div id="section">
  <div id="container">
    <div id="errors">
      @for(error <- errors) {
      @error<br>
    }
  </div>
</div>
</div>
}

<!-- Section content -->
<div id="section">
  <div id="container">
    <form method="post" id="destination" action="@routes.Destinations.create">
      <!-- User -->
      <!-- Username -->
      <!-- Hidden -->
      <input type="text" name="username" id="username" 
      placeholder="@Messages("destination.label.username")" 
      value="@destination.username" maxlength="35" required readonly hidden>

      <!-- Destination -->
      <label for="destination">@Messages("submission.label.destination")</label>
      <!-- Username -->
      <input type="text" name="destinationUsername" id="destinationUsername" 
      placeholder="@Messages("destination.label.username")" 
      value="@destination.destinationUsername" maxlength="35" required>
      
      <!-- Hostname -->
      <input type="text" name="destinationHostname" id="destinationHostname" 
      placeholder="@Messages("destination.label.hostname")" 
      value="@destination.destinationHostname" maxlength="50" required>
      
      <!-- Password -->
      <input type="password" name="destinationPassword" id="destinationPassword" 
      placeholder="@Messages("destination.label.password")" 
      value="@destination.destinationPassword" maxlength="35" required>
      
      <!-- Configuration -->
      <select name="configuration" id="configuration">
        <option value="cluster">Cluster</option>    
        <option value="dagman">DAGMan</option>
      </select>

      <!-- Submit -->
      <input type="submit" id="destinationSubmit" value="@Messages("destination.label.submit")">
    </form>
  </div>
</div>

