@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/frame.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,200,100&subset=latin,cyrillic" rel="stylesheet">
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
  <div id="header">
    <div id="container">
      <h1>@title</h1>
    </div>
  </div>
  @content
  @footer()
</body>
</html>
