@(users: List[User])

@frame(Messages("application.name")) {
<div id="section">
  <div id="container">
    @for(user <- users) {
    <form method="post" id="signup" action="">
      <label for="username">@Messages("update.label.name")</label>
      <input type="text" name="firstname" id="firstname" value="@user.firstname" required title="???">
      <input type="text" name="lastname" id="lastname" value="@user.lastname" required>

      <label for="username">@Messages("update.label.username")</label>
      <input type="text" name="username" id="username" value="@user.username" required>
      
      <label for="password">@Messages("update.label.password")</label>
      <input type="password" name="password" id="password" value="@user.password" required>
      
      <!-- <input type="submit" value="@Messages("update.label.submit")"> -->
    </form>
    }
</div>
</div>
}
