@(destinations: List[Destination])

@frame(Messages("application.name")) {
<div id="section">
  <div id="container">
    @for(destination <- destinations) {
    <form method="post" id="signup" action="">
      <label for="username">@Messages("update.label.name")</label>

      <input type="text" name="username" id="username" value="@destination.username" required >
      
      <input type="text" name="destinationUsername" id="destinationUsername" 
        value="@destination.destinationUsername" required>

      <label for="username">@Messages("update.label.username")</label>
      <input type="text" name="destinationUsername" id="destinationUsername" 
        value="@destination.destinationUsername" required>
      
      <label for="password">@Messages("update.label.password")</label>
      <input type="password" name="destinationPassword" id="destinationPassword"
        value="@destination.destinationPassword" required>      
    </form>
    }
</div>
</div>
}
