<div id="section">
  <div id="container">
    <div id="title">@Messages("signup.title")</div>
    </div>
</div>
<div id="section">
  <div id="container">
    <form method="post" id="signup" action="" onsubmit="return validateSignupForm()">
      <label for="name">@Messages("signup.label.name")</label>
      <input type="text" name="firstname" id="firstname" placeholder="First">
      <input type="text" name="lastname" id="lastname" placeholder="Last">
      <p id="nameEmptyMessage" class="invalid">You can't leave this empty.</p>

      <label for="username">@Messages("signup.label.username")</label>
      <input type="text" name="username" id="username">
      <p id="usernameEmptyMessage" class="invalid">You can't leave this empty.</p>
      
      <label for="password">@Messages("signup.label.password")</label>
      <input type="password" name="password" id="password">
      <p id="passwordEmptyMessage" class="invalid">You can't leave this empty.</p>
      
      <label for="password">@Messages("signup.label.confirmPassword")</label>
      <input type="password" name="passwordConfirmation" id="passwordConfirmation">
      <p id="passwordConfirmEmptyMessage" class="invalid">You can't leave this empty.</p>
      
      <input type="submit" value="@Messages("signup.label.submit")">
    </form>
  </div>
</div>

