<div id="section">
  <div id="container">
    <form action="@routes.Files.upload" method="post" id="submissionForm" enctype="multipart/form-data">
      <label for="sources">@Messages("submission.label.sources")</label>
      <input type="file" name="files[]" id="sources" multiple directory webkitdirectory disabled>
      
      <label for="compositions">@Messages("submission.label.compositions")</label>
      <input type="file" name="files[]" id="compositions" multiple directory webkitdirectory required>

      <label for="executables">@Messages("submission.label.executables")</label>
      <input type="file" name="files[]" id="executables">

      <label for="destination">@Messages("submission.label.destination")</label>
      <input type="text" name="destinationUsername" id="destinationUsername" placeholder="@Messages("destination.label.username")" required>
      <input type="text" name="destinationHostname" id="destinationHostname" placeholder="@Messages("destination.label.hostname")" required>
      <input type="password" name="destinationPassword" id="destinationPassword" placeholder="@Messages("destination.label.password")" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
